<template>
  <div>
    <ArtistInfo v-if="data.appearance == 1" :data="data"/>
    <ArtistSimilar v-else-if="data.appearance == 2" :data="data" />
    <ArtistThird v-else :data="data" />
  </div>
</template>
<script>
import ArtistInfo from "@/components/ArtistInfo";
import ArtistSimilar from "@/components/ArtistSimilar";
import ArtistThird from "@/components/ArtistThird";

export default {
  name: "ActorList",
  props: {
    data: {
      type: Object,
    }
  },
  components: {
    ArtistInfo,
    ArtistSimilar,
    ArtistThird
  }
};
</script>
