<template>
  <v-container>
    <v-row align="center">
      <v-col cols="12" lg="12" md="12" sm="12" class="d-flex justify-center">
        <v-avatar color="indigo" :size="avatarSize">
          <img :src="data.image" />
        </v-avatar>
      </v-col>
      <v-col cols="12" class="pa-0">
        <v-row>
          <v-col
            class="justify-center d-flex pa-0"
            cols="12"
          >
            <p class="ma-0 title font-weight-bold titleText--text">{{data.title}}</p>
          </v-col>
          <v-col class="justify-center d-flex pa-0" cols="12">
            <p
              :class="[
                'ma-0 desc--text',
                {
                  'subtitle-1': $vuetify.breakpoint.lg || $vuetify.breakpoint.md
                },
                {
                  'subtitle-2': $vuetify.breakpoint.sm || $vuetify.breakpoint.xs
                }
              ]"
            >
              {{data.text}}
            </p>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "ArtistSimilar",
  props: {
    data: {
      type: Object,
    }
  },
  data() {
    return {};
  },
  computed: {
    avatarSize() {
      if (
        this.$vuetify.breakpoint.lg ||
        this.$vuetify.breakpoint.md ||
        this.$vuetify.breakpoint.xl
      ) {
        return this.data.size;
      } else {
        return 100;
      }
    }
  }
};
</script>
