<template>
  <v-container>
    <v-row align="center">
      <v-col cols="12" lg="3" md="3" sm="12" class="d-flex justify-center">
        <v-avatar color="indigo" :size="avatarSize">
          <img :src="data.image" />
        </v-avatar>
      </v-col>
      <v-col cols="12" lg="9" md="9" sm="12" class="">
        <v-row class="justify-center">
          <v-col
            cols="12"
            :class="[
              'pa-0',
              {
                'd-flex justify-center':
                  $vuetify.breakpoint.sm || $vuetify.breakpoint.xs
              }
            ]"
          >
            <h2
              :class="[
                {
                  'display-2': $vuetify.breakpoint.lg || $vuetify.breakpoint.md
                },
                { 'title': $vuetify.breakpoint.sm || $vuetify.breakpoint.xs }
              ]"
              class="pa-0 font-weight-black titleText--text"
            >
              {{ data.title }}
            </h2>
          </v-col>
          <v-col
            cols="12"
            lg="12"
            md="12"
            sm="12"
            :class="[
              'pa-0',
              {
                'text-center': $vuetify.breakpoint.xs || $vuetify.breakpoint.sm
              }
            ]"
          >
            <p
              :class="[
                { 'title': $vuetify.breakpoint.lg || $vuetify.breakpoint.md },
                {
                  'subtitle-1': $vuetify.breakpoint.sm || $vuetify.breakpoint.xs
                }
              ]"
              class="ma-0 font-weight-bold titleText--text"
            >
              {{ data.text }}
            </p>
          </v-col>
          <v-col
            cols="9"
            lg="12"
            md="12"
            sm="7"
            :class="[
              'pa-0',
              {
                'text-center': $vuetify.breakpoint.xs || $vuetify.breakpoint.sm
              }
            ]"
          >
            <p
              :class="[
                'ma-0 desc--text ',
                { title: $vuetify.breakpoint.lg || $vuetify.breakpoint.md },
                {
                  'subtitle-1': $vuetify.breakpoint.sm || $vuetify.breakpoint.xs
                }
              ]"
            >
              {{
              data.description
                  | dots(
                    $vuetify.breakpoint.xs,
                    $vuetify.breakpoint.sm,
                    showMore
                  )
              }}
            </p>
            <span
              v-if="$vuetify.breakpoint.xs || $vuetify.breakpoint.sm"
              class="full-desc blue--text lighten-1--text subtitle-1"
              @click="openFullDescription()"
            >
              {{ !showMore ? "Подробнее" : "Скрыть" }}
            </span>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  name: "ActorList",
  props: {
    data: {
      type: Object,
    }
  },
  data() {
    return {
      key: this.appearance,
      showMore: false
    };
  },
  filters: {
    dots(val, sm, xs, showMore) {
      if (val.length > 80 && (sm || xs) && !showMore) {
        return val.substr(0, 80) + "...";
      } else {
        return val;
      }
    }
  },
  computed: {
    avatarSize() {
      if (
        this.$vuetify.breakpoint.lg ||
        this.$vuetify.breakpoint.md ||
        this.$vuetify.breakpoint.xl
      ) {
        return 170;
      } else {
        return 100;
      }
    }
  },
  methods: {
    openFullDescription() {
      this.showMore = !this.showMore;
    }
  },
  watch: {}
};
</script>

<style scoped lang="scss">
.full-desc {
  cursor: pointer;
}
</style>
