<template>
  <div id="add" class="mx-3">
    <v-col class="pa-0" cols="12">
      <v-row class="ml-3" align="center">
        <v-col cols="3" lg="2" md="3" sm="3">
          <v-row align="end">
            <v-col
              class="pa-0 display-1 font-weight-medium black--text"
              cols="3"
            >
              <v-row
                :class="{
                  'flex-column-reverse':
                    $vuetify.breakpoint.xs || $vuetify.breakpoint.sm
                }"
              >
                <v-col class="pa-0 d-flex justify-center align-center">
                  <p class="ma-0">{{ day }}</p>
                </v-col>
                <v-col
                  class="pa-0 mb-0 d-flex justify-center"
                  cols="12"
                  lg="4"
                  md="4"
                  sm="12"
                  :class="{
                    'mb-8 ':
                      $vuetify.breakpoint.md ||
                      $vuetify.breakpoint.lg ||
                      $vuetify.breakpoint.xl
                  }"
                >
                  <p
                    class="ma-0  subtitle-2 font-weight-medium grey--text"
                    :class="{
                      'ml-6':
                        $vuetify.breakpoint.md ||
                        $vuetify.breakpoint.lg ||
                        $vuetify.breakpoint.xl
                    }"
                  >
                    {{ week }}
                  </p>
                </v-col>
              </v-row>
            </v-col>
            <v-col class="pa-0" cols="12" lg="6" md="6" sm="12">
              <v-row
                :class="{
                  'justify-center':
                    $vuetify.breakpoint.sm || $vuetify.breakpoint.xs
                }"
              >
                <v-col
                  class="pa-0 subtitle-1 font-weight-medium black--text"
                  cols="11"
                >
                  <p class="ma-0">{{ month }}</p>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-col>
        <v-col>
          <v-row>
            <v-col cols="12" lg="9" md="8" sm="12">
              <v-row
                :class="{
                  'flex-column-reverse':
                    $vuetify.breakpoint.xs || $vuetify.breakpoint.sm
                }"
                align="center"
              >
                <v-col class="pa-0" cols="12" lg="2" md="2" sm="12">
                  <p
                    class="ma-0 subtitle-1 font-weight-medium black--text"
                    :class="{
                      'subtitle-1':
                        $vuetify.breakpoint.sm || $vuetify.breakpoint.xs
                    }"
                  >
                    {{ hours }} : {{ minute }}
                  </p>
                </v-col>
                <v-col class="pa-0" cols="12" lg="7" md="6" sm="12">
                  <p
                    :class="{
                      title: $vuetify.breakpoint.sm || $vuetify.breakpoint.xs
                    }"
                    class="ma-0 headline font-weight-medium black--text"
                  >
                    {{ data.name }}
                  </p>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="2" class="pa-0">
              <v-btn block color="#144CF7" dark large>
                {{ data.buttonName }}</v-btn
              >
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <v-row>
        <v-col cols="12">
          <v-btn block large outlined color="#144CF7">Показать ещё</v-btn>
        </v-col>
      </v-row>
    </v-col>
  </div>
</template>

<script>
export default {
  name: "Poster",
  data() {
    return {
      day: "",
      hours: "",
      minute: "",
      month: "",
      week: "",
      months: [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
      ],
      days: [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday"
      ]
    };
  },
  props: {
    data: {
      type: Object
    }
  },
  mounted() {
    this.data.name = "Sted.D x Pyrokinesis";
    this.month = this.months[this.data.data.getMonth()];
    this.week = this.days[this.data.data.getDay()];
    this.day = this.data.data.getDate();
    this.hours = this.data.data.getHours();
    this.minute = this.data.data.getMinutes();
  }
};
</script>

<style scoped></style>
