<template>
  <v-app>
    <v-content>
      <ActorList :data="data" />
      <Cheep :data="cheepData"/>
      <Application :data="reserveDate"/>
    </v-content>
  </v-app>
</template>

<script>
import ActorList from "./components/ActorList";
import Cheep from "./components/cheeps/Cheep";
import Application from "./components/Application";
export default {
  name: "App",

  components: {
    ActorList,
    Cheep,
    Application

  },
  data: () => ({
    data: {
      title: "Главclub Green Concert",
      text: "Концертная площадка в Москве",
      description:
        "Концертная площадка с деревянной отделкой и удобными диванами, на которой выступают музыканты со всего мира. Источник: wikipedia.ru",
      appearance: 3,
      image: require("./assets/logo.png"),
      size: 130
    },
    reserveDate: {
      item: 1,
      data: new Date(),
      name: "",
      buttonName: "Оставить заявку",
      buttonPrice: "от 1500 ₽"
    },
    cheepData: [
      {
        title: "Январь",
        value: "1"
      },
      {
        title: "Февраль",
        value: "2"
      },
      {
        title: "Март",
        value: "3"
      },
      {
        title: "Апрель",
        value: "4"
      },
      {
        title: "Май",
        value: "5"
      },
      {
        title: "Июнь",
        value: "6"
      }
    ]
  })
};
</script>
